.spotify img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 150px;
    margin-right: 5px;
}
.spotify{
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    height: 80px;
}
.A{
    margin-right: 650px;

}
.B,.C,.D,.F,.G{
    margin-right: 30px;
}
.F{
    color: white;
}
.main{
    text-align: center;
    padding: 12%;
}
.H{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
}
.I{
    color: white;
    font-size: 150%;
}
button{
    border-radius: 10px;
    flex-grow: 5;
    background-color: green;
    border: none;
    height: 50px;
    width: 200px;

}